# Editor
.vscode

# local env files
.env
prod.py
*.sqlite3
*.pyc
*__pycache__
dump
media
src/static/admin/*
src/static/images/collection
*.env
memory
venv
prod.py
tags_note.txt
*pytest_cache
locale
docs
.coverage
reqs/req.txt
reqs/req.in
*bron
*node_modules
*logs
*.log
