{% extends 'base.html' %}
{% load static sidebars i18n %}
{% block content %}
<div class="row d-flex justify-content-center dmb-lg-4 mb-sm-1 pe-sm-0">
  <div class="col col-md-8 mb-2">
  {% include "components/crumbs.html" %}
  </div>

</div>
<div class="row">
  <aside class="col-md-3 col-sm-12">
    <!-- <nav role="navigation" aria-label="Sidebar Navigation">
      <div class="list-group"> -->
        {% show_categs %}
        <!-- </div>
    </nav>     -->
  </aside>
  <div class="col-md-6 col-sm-12" id="post_list">
    {% if posts %}
      {% include "posts/parts/posts_collection.html" %}
      {% include "posts/parts/pagination.html" %}
    {% else %}
      <div id="not-found">
        {% trans "Sorry. Nothing found for your search" %}
      </div>
    {% include "posts/parts/search_errors.html" %}
    {% endif %}
  </div>
  <div class="col-md-3 col-sm-12">
    {% show_tags %}
  </div>

</div>

{% endblock%}
{% block js %}
<script src="{% static 'js/categs.js' %}"></script>
{% endblock %}