{% extends 'base.html' %}
{% load static sidebars i18n tree_comms%}
{% block content %}
  <div class="row">
  <aside class="col-md-3 col-sm-12">
    <!-- <nav role="navigation" aria-label="Sidebar Navigation">
      <div class="list-group"> -->
        {% show_categs %}
        <!-- </div>
    </nav>     -->
  </aside>
  <div class="col-md-6 col-sm-12">

    <h3>{{post.title}}</h3>
    <p>{{post.created_at|date:"F d, Y"}}</p>

    <div><strong>{%trans "category" %}</strong>:
      {% include "components/post_categs.html" with categ_dict=cats_path %}
    </div>
    <div class="content">
        {{post.content|safe}}
    </div>
    <hr>
    {% if user.is_authenticated and post.allow_comments %}
    <form action="{% url 'posts:post_detail' post.slug %}" id="top_form" method="POST"
    >
      {% csrf_token %}
      {{form.as_p}}
      <hr>
      <button type="submit">Comment</button>
    </form>
    {% endif %}

  </div>
  <div class="col-md-3 col-sm-12">
    {% show_tags %}
  </div>
  </div>
  {% if comments %}
  <div class="container">
      <h3>Comments</h3>
      <div class="row comms">
        <div class="col-sm-3"></div>
          <div class="col-sm-6 col-md-12 ">
            <div id="comms_list"
            hx-trigger="load, updateCommList from:body"
            hx-get="{% url 'comments:all_comms' post_uuid=post.uuid %}"
            hx-target="#mycomms">
            <div id="mycomms"class="green"></div>
            </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
  </div>
  {% endif %}
{% endblock%}

{% block js %}
<script src="{% static 'js/categs.js' %}"></script>
{% endblock %}
