{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Set Password" %}</h1>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <label for="{{ field.id_for_label }}" class="fs-5 fw-bold">{{ field.label }}</label>
        {{ field|add_class:'form-control p-3 border border-4' }}
           {% for error in field.errors %}
            <span class="">{{ error }}</span>
           {% endfor %}
        {% endfor %}
       <div class="my-3">
         <button type="submit"  class="btn btn-primary" value="{% trans 'Set Password' %}">
            Reset My Password
         </button>
        </div>
        <!-- <input type="submit" name="action" value=" trans 'Set Password' %}"/> -->
    </form>
 </div>
{% endblock %}
