{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container">
    <h1>{% trans "Change Password" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <label for="{{ field.id_for_label }}" class="fs-5 fw-bold my-3">{{ field.label }}</label>
        {{ field|add_class:'form-control p-3 border border-4' }}
            {% for error in field.errors %}
            <span class="">{{ error }}</span>
            {% endfor %}
        {% endfor %}
        <div class="my-3">
          <button type="submit" class="btn btn-primary me-3"
          name="action">{% trans "Change Password" %}</button>
          <a href="{% url 'account_reset_password' %}"
          class="general"
          >{% trans "Forgot Password?" %}</a>
        </div>

    </form>
   </div>
{% endblock %}
