{% load tree_cats %}

<div class="drop-top" >
    <button class="btn btn-success hide" id="show-cats" data-dropdown-but>Show Categories</button>
    <ul class="root-cats mt-3" data-dropdown>
    {% recursetree categs %}
        <li class="node-name" data-li>
          {% if node.is_leaf %}
          <a href="{% url 'posts:cat_search' node.slug %}" class="node-link" >{{node.name}}</a>
          {% else %}
          <!-- 2 siblings: a tag and ul children -->
            <a href="{% url 'posts:cat_search' node.slug %}" class="node-link to-toggle" data-dropdown-link>{{node.name}} &#x25B8;</a>
            <ul class="children">
              {{ children }}
            </ul>
          {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
</div>






