<!-- start pagination       -->
  <div class="pagination">
    <ul class="pag-wrapper">
        <li><a hx-get="{{req_url}}?page=1" hx-target="#post_list">
                    <i class="fas fa-angle-double-left"></i>
                </a>
         </li>
        {% if page_obj.has_previous%}
        <li>
            <a hx-get="{{req_url}}?page={{page_obj.previous_page_number}}" hx-target="#post_list">
                <i class="fa fa-long-arrow-left"></i>
            </a>
        </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li><a href="#" class="active">{{num}}</a></li>

            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
                <li><a hx-get="{{req_url}}?page={{num}}" hx-target="#post_list">{{num}}</a></li>
            {% endif %}

        {% endfor %}
        {% if page_obj.has_next%}
        <li><a hx-get="{{req_url}}?page={{page_obj.next_page_number}}" hx-target="#post_list">
            <i class="fa fa-long-arrow-right"></i>
        </a>
        </li>
        {% endif %}
        <li><a hx-get="{{req_url}}?page={{page_obj.paginator.num_pages}}" hx-target="#post_list"><i class="fas fa-angle-double-right"></i>
        </a>
    </li>
  </ul>
</div>
<!-- end pagination -->