{% load widget_tweaks static i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-custom p-3">
    <div class="container-fluid align-items-md-baseline">
      <a class="navbar-brand logo" href="/">MedSandBox</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse fs-4" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'posts:post_list'%}">{% trans 'Posts'%}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts:feedback' %}">{% trans 'Contact' %}
            </a>
          </li>
          {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'devs:dev_page' %}">
                {% trans 'Dashboard' %}
              </a>
            </li>
            {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" id="subLink" href="{% url 'profiles:profile_detail' uuid=user.profile.uuid %}">{% trans "Profile" %}</a>
              </li>

              {% if not news_negative %}
              <li><hr class="dropdown-divider"></li>
              <li class="nav-item">
              <a class="dropdown-item" href="{% url 'contacts:subscribe' %}" >
                  {% trans 'Subscribe to news' %}
              </a>
            </li>
            {% else %}
            <li><hr class="dropdown-divider"></li>
              <li class="nav-item">
              <a class="dropdown-item" href="{% url 'contacts:end_news' user.profile.uuid %}" >
                  {% trans 'Usubscribe to news' %}
              </a>
            </li>
            {% endif %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">
                {% trans 'Log out' %}
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link bell">
              <img src="{% static 'images/bell48.png' %}" alt="notifications">
            </a>
          </li>
        {% if notifs %}
          <li class="nav-item dropdown">
            <div class="note-badge">
            <a class="nav-link dropdown-toggle" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"
            id="notifs"
            hx-get="{% url 'notifications:all_notifics' %}"
            hx-target="#notis">
               <span class="badge rounded-pill bg-danger">{{notifs}}</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="notifs" id="notis">
              </div>
            </div>
          </li>
          {% endif %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">{% trans 'Sign Up' %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">
                {% trans 'Log In' %}
              </a>
            </li>
        {% endif %}
      </ul>

      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" class="lang-drop">
            {% for language in languages %}
                <option class="lang-drop__item" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.code }}

                </option>
            {% endfor %}
        </select>
        <input type="submit" class="but-go" value="Go">
      </form>

    </div>
  </div>
  </nav>
</header>
{% block js %}

{% endblock js%}



