<div class="search-inner pe-sm-0">
    <form method="get" class="search-form" action="{% url 'posts:search_posts' %}">
      <div class="search-box pe-sm-0">
            {{search_form}}
            <a href="#" class="search-btn">
                <button class="custom-invisible" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </a>
      </div>
      {% if search_form.errors %}
        <p class="alert">{{search_form.errors}}</p>
      {% endif %}
    </form>
</div>

