{% load static i18n %}
<!-- short represention -->
<div class="single_post">
    <div class="single_post__title">{{post.title}}</div>
    {% if post.top_img %}
    <div class="single_post__image d-flex">
      <img src="{{post.top_img.url}}" class="img-fluid" alt="post_img">
    </div>
    {% endif %}
    <div>
      <p class="single_post__date">{{post.published_at|date:"F d, Y"}}</p>
      <p class="single_post__categ">
        <strong>{% trans "category" %}</strong>: {{post.categ.name}}

      </p>
    </div>
    <!-- <div class="single_post_content">
          post.content|truncatewords_html:7|safe}}
    </div> -->
      <div class="single_post__link d-flex">
        <a href="{% url 'posts:post_detail' post.slug %}">
          {% trans 'Read more' %}
        </a>
    </div>
</div>
<hr>