{% extends 'base.html' %}
{% load i18n  static %}

{% block head_title %} delete profile | {{block.super}}{% endblock %}
{% block content %}
    <main class="container">
        <div class="container">
            <div class="d-flex flex-column justify-content-center">
                <form id="del_profile" action="" method="post">
                    <h4>Do you really want to delete your account?</h4>
                    {% csrf_token %}
                    <button class="btn btn-warning" type="submit">Yes. Delete My Account.</button>
                </form>
                <div class="mb-1 mt-1">
                    <i class='fas fa-chevron-circle-left' style='font-size:24px'></i>
                    <span class="space">
                      <a class="general" href="{% url 'profiles:profile_detail' uuid=profile.uuid %}">&nbsp;Back to profile
                      </a>
                    </span>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}