{% extends 'base.html' %}
{% load static sidebars calend i18n %}
{% block content %}

<div class="row">

  <div class="col-md-12 col-sm-12 d-flex text-center flex-column mb-3">
    <h1>Welcome to devs dashboard. </h1>
    <h4>Please choose an action from the menu </h4>
  </div>
  <div class="col-md-12 col-sm-12">
    <div class="menu d-flex justify-content-around">
        <div class="menu_item">
            <a href="{% url 'devs:creation' %}">
                <button class="btn btn-secondary">Create</button>
            </a>
        </div>
        <div class="menu_item">
            <a href="{% url 'devs:selection' action='draft' %}">
                <button class="btn btn-primary">Show drafts</button>
            </a>
        </div>
        <div class="menu_item">
            <a href="{% url 'devs:selection' action='review' %}"><button class="btn btn-success">Show reviews</button></a></div>
        <div class="menu_item">
            <a href="{% url 'devs:selection' action='soft_delete' %}">
                <button class="btn btn-danger">Show soft-deleted</button>
            </a>
        </div>
    </div>
  </div>


</div>

{% endblock%}
