{% extends 'base.html' %}
{% load static  i18n  embed_video_tags  %}

{% block head_title %} Home | {{block.super}}{% endblock %}
{% block content %}
<div class="container">
  <figure class="text-end">
    <blockquote class="blockquote">
      <p>Life is too short to worry about stupid things.
        Study, think,<br> create and grow. Teach yourself and teach others.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Prof. Feynman
    </figcaption>
  </figure>
  <h1 class="mb-5">{% trans 'Welcome to clinical solving problems' %}</h1>

   <div class="row flex-md-row-reverse">
    <div class="col-md-6">
    <picture>
      <source srcset="{% static 'images/homepage/blood_mobile.jpg' %}" media="(max-width: 599px")>
      <source srcset="{% static 'images/homepage/blood_mid.jpg' %}" media="(min-width: 600px)">
      <img class="rounded w-100 img-thumbnail " src="{% static 'images/homepage/blood.jpg' %}" alt="post-image-blood" />
    </picture>
   </div>
  <div class="col-md-6">
    <div>
      <h3 class="mb-2">
        Compare contrast learning concept
      </h3>
      <div class="">
          It's not sufficient to know about a disease in an isolation.We have to understand how it compares, both in terms of clincal presentaion and mechanisms of action to other diseases that might cause the same type of symptoms or syndroms.
          There are some tools and methods for compare contrast learning thinking  and learning.
      </div>
    </div>
  </div>
   </div>
<!-- second block  -->
  <div class="row  mt-3 pt-3">
    <div class="col-md-6 col-sm-12 pb-3 border-bottom border-dark border-end border-top">
      <h4 class="mt-2 text-center">
        Tools
      </h4>
      <div>
        Illness scripts - the way how experts store information about specific diseases refined by clinical experience. Each time a pt presents with a sign or symptom it triggers or activates that patricular memory store in fast and efficient way than in a random file folder.
      </div>
      <div class="mt-lg-3 d-flex justify-content-between">
        <div>
          <a href="{% url 'core:intro' %}">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans "Illness script" %}
            </button>
          </a>
        </div>
        <div>
          <a href="{% url 'core:intro' %}">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans "Patient script" %}
            </button>
          </a>

        </div>
      </div>
    </div>
    <div class="col-md-6  col-sm-12 pb-3 border-bottom border-dark border-top ">
      <h4 class="mt-2 text-center">
        Methods
      </h4>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatibus minima, nulla officia consequuntur libero et fugit repellat enim autem modi, debitis reiciendis tempora corporis quo nisi ex esse cumque.
      </div>
      <div class="d-flex">
        <div class="mt-lg-3">
          <a href="#">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans "Hypothesis Testing" %}
            </button>
          </a>
        </div>
        <div class="mt-lg-3">
          <a href="#">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans "Forward thinking" %}
            </button>
          </a>
        </div>
        <div class="mt-lg-3">
          <a href="#">
            <button type="button" class="w-30 btn btn-outline rounded-pill custom-font px-3 ">
              {% trans "Pattern Recognition" %}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end second block  -->
  <!-- start video -->
  {% if vidos %}
  <div class="row mt-3 pt-3">
    <div class="col col-md-6 col-sm-12">
       <p>{{video.title}}</p>
        {% video vidos.url "426x240" %}
    </div>
    <div class="col col-md-6 col-sm-12">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis unde aliquid error quidem eius! Consectetur nostrum cum, animi dolor ut laudantium repudiandae incidunt eos cupiditate ipsum, ad sed enim sunt
    </div>
  </div>
  {% endif %}

</div>
{% endblock content %}


