{% extends 'base.html' %}
{% load static sidebars  i18n %}

{% block head_title %} Intro | {{block.super}}{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Illness scripts consists of 4 elements:</h2>
    <!-- illnesscript grids-->
    <div class="container text-center mt-4 mb-4">
    <div class="row row-cols-2 mt-4">
       <div class="col border border-dark  top-left d-flex justify-content-sm-center
       justify-content-md-end
       ">
         <div class="circle-intro d-flex justify-content-center align-items-center">
           <div class="">
             {% trans 'Epidemiology' %}
           </div>
         </div>
       </div>
       <div class="col border border-dark  top-right d-flex justify-content-sm-center
       justify-content-md-start">
         <div class="circle-intro d-flex justify-content-center align-items-center">
           {% trans 'TimeCourse' %}
         </div>
       </div>
       <div class="col border border-dark  bot-left d-flex justify-content-sm-center
       justify-content-md-end">
         <div class="circle-intro d-flex justify-content-center align-items-center">
           {% trans 'Clinical Presentation' %}
         </div>
       </div>
       <div class="col  border border-dark bot-right d-flex justify-content-sm-center
       justify-content-md-start">
         <div class="circle-intro d-flex justify-content-center align-items-center">
           {% trans 'Mechanisms' %}
         </div>
       </div>
     </div>
    </div>
    <!-- end general -->
    <!-- start epid -->
    <div class="row">
      <div class="col-md-12">
      <h5><strong>Epidemiology</strong></h5>
      <p>Should answer the question: "Who gets this disease ? "</p>
      <div>
        <strong>Demographics</strong>
        <ul>
          <li>Age</li>
          <li>Gender</li>
          <li>Ethnicity</li>
        </ul>

      </div>
      <div>
        <strong>Risk Factors  </strong>
      </div>
      <div>
        <strong>
          Exposures
        </strong>
        <ul>
          <li>Travel</li>
          <li>Occupation</li>
          <li>Activities (Sexual,Hobbies)</li>
          <li>Close contacts</li>

        </ul>

      </div>
    </div>
   <!--end epid-  -->
  <!-- start Time course -->
    <div class="col-md-12">
      <h5><strong>Time Course</strong></h5>
      <div>
        <strong>Duration of Symtoms</strong>
        <ul>
          <li>Hyperacute (hours)</li>
          <li>Acute (days)</li>
          <li>Subacute (weeks)</li>
          <li>Cronic</li>
        </ul>
      </div>
      <div>
        <strong>Pattern of Prodrome</strong>
        <ul>
          <li>Constant</li>
          <li>Episodic (come and go)</li>
        </ul>
      </div>
    </div>
    <!-- end timecourse -->
   </div>
  </div>
</div>
</div>
{% endblock %}



