{% extends 'base.html' %}
{% load static categ_menu %}
<!--load cats_tags  embed_video_tags %} -->

{% block head_title %} Intro | {{block.super}}{% endblock %}

{% block content %}
<div class="container">
<div class="row ">
    <!-- menu categories -->
    <div class="col-md-3">
      {% show_categs %}
    </div>
  </div>
    <div class="col-md-6">
      placeholder video
       <!-- <p>video.title}}</p>      -->
        <!-- video video.url "800x600" %} -->
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/categs.js' %}"></script>
{% endblock %}

