{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head><style></style></head>
<body>
  <div>
    <h3>Greetings from MedSandbox</h3>
    {% if letter %}
      <p>{{letter.title}}</p>
      <p>{{ letter.text|linebreaksbr }}</p>
      <p>Please follow the link to read more
      {% if posts %}
          {% for post in posts %}
          <a href="{{domain}}{% url 'posts:post_detail' post.slug %}">{{post.title}}</a></p>
          {% endfor%}
          {% else %}
          <p>No links to posts</p>
         {% endif %}
      {% endif %}
      <p>Best regards,</p>
      <p>Admin</p>
      <hr>
    <a href="{{domain}}{% url 'contacts:end_news' uuid=uuid %}">
      Unsubscribe from news letters
    </a>
    </div>
  </body>
</html>